body {
    display: flex;
    justify-content: center;
    background-color: rgb(233, 227, 219);
}

img {
    position: absolute;
    width: 40rem;
    height: 189px;
    margin-left: -9rem;
    top: 160px;
}

.e-mail {
    position: absolute;
    width: 25rem;
    height: 3.3rem;
    top: 348px;
    background: #ffffff;
    border-radius: 10px;
}

.senha {
    position: absolute;
    width: 25rem;
    height: 3.3rem;
    top: 26rem;
    background: #ffffff;
    border-radius: 10px;
}

.rec-senha {
    position: absolute;
    width: 219px;
    height: 29px;
    top: 31rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 29px;
    text-decoration: none;
    color: #1470ba;
}

.rec-senha:hover {
    color: crimson;
}

.btn {
    color: #fff;
    position: absolute;
    width: 5rem;
    height: 3rem;
    top: 31rem;
    background-color: #1470ba;
    border-radius: 2rem solid #000;
    font-size: 1.2em;
    margin-left: 20rem;
}

.btn:hover {
    background-color: #6ee60d;
}

.logo-rodape {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 45rem;
    margin-left: 40rem;
}

@media (max-width: 1200px) {
    body {
        display: flex;
        justify-content: left;
    }

    img {
        width: 95%;
        margin-left: 0rem;
    }

    .e-mail {
        width: 50%;
        margin-left: 8rem;
    }

    .senha {
        width: 50%;
        margin-left: 8rem;
    }

    .rec-senha {
        width: 100%;
        font-size: 1em;
        margin-left: 8rem;
    }

    .btn {
        width: 14%;
        height: 5%;
        font-size: 1rem;
        border: 1px solid #000;
        margin-left: 20.5rem;
    }

    .logo-rodape {
        width: 20%;
        height: 15%;
        top: 0;
        margin-left: 28rem;
        margin-top: 44rem;
    }
}
