@charset "UTF-8";
* {
    padding: 0px;
    margin: 0px;
}

body {
    width: 80%;
    margin: auto;
    padding: 30px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: brown;
}

img {
    width: 400px;
    height: 230px;
}

h2 {
    text-align: center;
    color: darkred;
    text-shadow: 4px 2px yellow;
}

h3 {
    text-align: center;
    color: gold;
}

.primeira-div {
    border: 2px solid #000;
    border-radius: 20px;
    margin: 30px 30px;
    padding: 20px 30px;
    background-color: #000;
}

.primeira-div h3 {
    margin: 30px 5px;
}

.sala-right {
    display: flex;
    flex-direction: row-reverse;
    color: #fff;
}

.sala-left {
    display: flex;
    color: #fff;
}

.sala-right figure {
    margin: 10px;
}

.sala-left figure {
    margin: 10px;
}
figcaption {
    color: #fff;
}