* {
    margin: 0.3%;
    padding: 3%;
}

body {
    background-color: #725635;
    background-image: url('attackontitan3.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

h1 {
    text-align: center;
    color: #FFF;
    filter: drop-shadow(1px 8px 5px red);
    
}
