@charset "UTF-8";

body {
    background-color: #fff;
}

.navbar {
    background-color: darkseagreen;
}

header {
    background-image: url(./img/carroDeFundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio {
    background-color: beige;
}


.btn-intro {
    background-color: darkgoldenrod;
}

.secao-dados {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    column-gap: 10px;
    margin-left: 40px;
    margin-right: 20px;
}

.informacao img {
    width: 100%;
    height: 60%;
    margin-bottom: 20px;
    border-radius: 20px;
}

.informacao {
    text-align: center;
    margin-top: 10px;
    background-color: #000;
    color: #fff;
    height: 80%;
    width: 98%;
    border-radius: 20px;
}

.informacao:hover {
    transform: scale(1.1);
}

.titulo {
    margin-bottom: 15px;
    color: goldenrod;
}

.secao-paragrafo {
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 90px;
}

#my-form {
    padding: 2rem;
    background: #f4f4f4;
}

#my-form label {
display: block;
}

#my-form input[type='text'] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border:1px solid#ccc;
}

#my-form select {
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border:1px solid #ccc;
}
.btn1 {
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 0;
    background: rgb(233, 136, 10);
    color: #fff;
    border-radius: 5px;
    margin: 5px 0;
}

.btn1:hover {
    background: rgb(211, 53, 5);
}


.esg {
    background-color: rgb(35, 168, 168);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}

.esg img {
    width: 30%;
}

.titulo-esg {
    text-align: center;
}




footer {
    color: #fff;
    background-image: url(./img/bg.jpg);
    padding: 10px;
    padding-top: 20px;
}