@charset "UTF-8";

body {
    background-color: darkgray;
}

.navbar {
    background-color: darkseagreen;
}


.alugue-carro {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    background-image: url(./img/design-dentro-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(2px 15px 15px rgba(24, 28, 34, 0.808));
    text-align: center;
}

.btn-intro {
    background-color: darkgoldenrod;
}

.sobre-nos {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    background-image: url(./img/design-dentro-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: drop-shadow(2px 15px 15px rgba(16, 19, 15, 0.808));
}

h1 {
    text-align: center;
    color: #000;
}

.paragrafo-2 {
    text-align: center;
    margin: 5em;
    color: #000;
    margin-left: 14em;
    margin-right: 14em;
    padding-left: 9em;
    padding-right: 9em;
    padding-bottom: 2em;
}

.faq-padrao {
    text-align: center;
}

footer {
    color: #fff;
    background-image: url(./img/bg.jpg);
    padding: 10px;
    padding-top: 20px;
}