@charset "UTF-8";

body {
    background-color: darkseagreen;
}

.dropdown-menu {
    background-color: darkseagreen;
}

.container-fluid {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-intro {
    background-color: darkgoldenrod;
}

