
  h1 {
    text-align: center;
    margin: 1em 0;
    font-family: sans-serif;
  }

  .container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    padding: 15px;
    max-width: 900px;
    margin: 0 auto;
  }

  .galeria {
    overflow-x: auto;
  }

  .btn-left {
    position: absolute;
    top: 15px;
    left: 0;
    right: auto;
    bottom: 15px;
    font-size: 23px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 1000ms ease-in-out;
    background: linear-gradient(to left, transparent 40%,black 400%);
    cursor: pointer;
    border: none;
  }

  .btn-right {
    position: absolute;
    top: 15px;
    left: 0;
    right: auto;
    bottom: 15px;
    font-size: 23px;
    line-height: 250px;
    width: 40px;
    color: #fff;
    transition: all 1000ms ease-in-out;
    background: linear-gradient(to right, transparent 20%,black 400%);
    cursor: pointer;
    border: none;
  }

  .btn-left:hover {
    opacity: 1;
  }

  .btn-right:hover {
    opacity: 1;
  }

  .btn-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 40%, black 400%);
  }

  .imagens {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
  }

  .item {
    width: 900px;
    height: 700px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
  }

  .current-item {
    opacity: 1;
  }


  .galeria::-webkit-scrollbar {
    display: none;
  }


  .galeria {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }






  /* Rodapé */
.footer {
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    padding: 3rem 3rem 5rem;
  }

  .footer i {
    font-size: 1rem;
    padding: 0.3rem;
  }

  .footer a {
    color: #fff;
  }

  .contact-info {
    width: 20%;
  }

  .links-container {
    width: 20%;
  }

  .titulo-inicial {
    margin-bottom: 2rem;
  }

  .titulo-inicial h2 {
    margin-bottom: 0.5rem;
  }

  .contato-info p {
    margin-bottom: 1rem;
  }

  .contato-info p i {
    background-color: transparent;
    padding: 0;
  }

  .redes-sociais p {
    margin-bottom: 1rem;
  }

  .logos {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
  }

  .logos i {
    padding: 1rem;
  }

  .container-links h4 {
    text-transform: uppercase;
    margin-bottom: 3rem;
  }

  .container-links a {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

  }

  .numero-telefone {
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
  }

  .copyright {
    background-color: #000;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 11.05rem;
    font-size: 15px;
  }