body {
    display: flex;
    justify-content: center;
    background-color: rgb(233, 227, 219);
}

img {
    position: absolute;
    width: 42rem;
    height: 189px;
    margin-left: -13rem;
    top: 160px;
}


.e-mail {
    position: absolute;
    width: 20rem;
    height: 3rem;
    top: 350px;
    background: #ffffff;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 39px;
    padding-left: 12px;
}

.senha {
    position: absolute;
    width: 20rem;
    height: 3rem;
    top: 420px;
    background: #ffffff;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 39px;
    padding-left: 12px;
}

.rec-senha {
    position: absolute;
    width: 130px;
    height: 29px;
    top: 30rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 29px;
    text-decoration: none;
    color: #1470ba;
}

.rec-senha:hover {
    color: crimson;
}

.btn {
    color: #fff;
    position: absolute;
    width: 4.5rem;
    height: 2.7rem;
    top: 30rem;
    background: #1470ba;
    border-radius: 8px;
    font-size: 1em;
    margin-left: 16.5rem;
}

.btn:hover {
    background-color: #6ee60d;
    cursor: pointer;
}

.logo-rodape {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 45rem;
    margin-left: 40rem;
}
/*
@media (max-width: 1200px) {
    body {
        display: flex;
        justify-content: left;
    }

    img {
        width: 95%;
        margin-left: 0rem;
    }

    .e-mail {
        width: 50%;
        margin-left: 8rem;
    }

    .senha {
        width: 50%;
        margin-left: 8rem;
    }

    .rec-senha {
        width: 100%;
        font-size: 1em;
        margin-left: 8rem;
    }

    .btn {
        width: 14%;
        height: 5%;
        font-size: 1rem;
        border: 1px solid #000;
        margin-left: 20.5rem;
    }

    .logo-rodape {
        width: 20%;
        height: 15%;
        top: 0;
        margin-left: 28rem;
        margin-top: 44rem;
    }
}
*/

@media screen and (min-width: 1024px) {
    body {
        display: flex;
        justify-content: center;
    }



}

@media screen and (min-width: 1728px) {
    body {
        display: flex;
        justify-content: left;
    }

}
